<div class="v2__container">
  <div class="row">
    <h2 class="homeproducts__title homeproducts__title--space">INSTAGRAM FEED</h2>
    <div class="instafeed__inner">
      <div id="insta-feed"></div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "instafeed",
  "class": "instafeed__inner",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading"
    }
  ]
}
{% endschema %}
