<div class="scroll__inner">
  <span class="scroll__text scroll__generic">{{ section.settings.text-box }}</span>
</div>

{% schema %}
{
  "name": "Scroll Down",
  "class": "scroll",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading"
    }
  ]
}
{% endschema %}
